---
import Layout from '../layouts/Layout.astro';
---


<Layout title="About Ramya Bowen">
  <h2 class="about-title">🌿About Me</h2>
  <div class="about-container">
    <img src="/src/images/mya.jpeg" alt="Mya" class="about-image">
    <p class="about-text">Hi, I'm Ramya, a computer science student at William Jewell College, who is passionate about creating tech that feels purposeful and personal. I love blending logic and creativity to build apps that empower users and tell stories. My journey into tech started with a curiosity for how things work, and now I focus on projects that help people thrive, especially in education, gaming, and community spaces. When I'm not coding, I'm probably playing video games, reading, or playing with my dog.</p>
  </div>

  <h2 class="about-title">🌿What I use</h2>
  <h3 class=" about-center">Languages</h3>
  <div class="language-container">
    <div class="language-item">
      <i class="fa-brands fa-python"></i>
    </div>
    <div class="language-item">
      <i class="fa-brands fa-html5"></i>
      <div class="language-certified">Certified</div>
    </div>
    <div class="language-item">
      <i class="fa-brands fa-css3-alt"></i>
      <div class="language-certified">Certified</div>
    </div>
    <div class="language-item">
      <i class="fa-brands fa-js"></i>
    </div>
  </div>
  <h3 class="about-center">Tools</h3>
  <div class="tool-container">
    <div class="tool-item">
      <i class="fa-brands fa-github"></i>
    </div>
    <div class="tool-item">
      <i class="fa-brands fa-figma"></i>
    </div>
  </div>

  <h2 class="about-title">🌿What I'm doing now</h2>
  <div class="status-container">
    <div class="status-item">
      <h3>🌱 Past</h3>
      <p>- Finshed another practice project to learn js</p>
      <p>- Certified in HTML and CSS</p>
    </div>
    <div class="status-item">
      <h3>🌱 Currently</h3>
      <p>- Working with WeCodeKC to learn more about web development</p>
      <p>- Learning about Astro and JavaScript</p>
    </div>
    <div class="status-item">
      <h3>🌱 Future</h3>
      <p>I want to make my own personal assistant (similar to J.A.R.V.I.S.)</p>
    </div>
  </div>
</Layout>
