---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home">
  <main>
    <h1 class="title">Hello World, I'm Ramya!</h1>
    <p class="subtitle">HTML | CSS | JavaScript | Astro</p>
    <img class="headshot" src="/src/images/headshop.jpeg" alt="ramya">
    <div class="social-container">
      <a href="https://www.linkedin.com/in/ramyabowen/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/BearBear2005" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.instagram.com/ramyabowen/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </main> 
</Layout>

