---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <h2 class="center title">Projects</h2>
    <div class="project-container">
        <div class="project-container-left">
            <div class="project-container-img">
                <img src="/src/images/basketball-cards.png" alt="basketball card project" width="600">
            </div>
            <div class="project-description">
                <h3>Basketball Cards</h3>
                <div class="project-description-tech">
                    <div class="project-description-tech-title">Made with:</div>
                    <div class="project-description-tech-item">HTML</div>
                    <div class="project-description-tech-item">CSS</div>
                    <div class="project-description-tech-item">JS</div>
                </div>
                <p class="project-description-text">This was a project I did for my web development cohort. I used HTML, CSS, and Javascript to create a website that displays a collection of cards for the Golden State Warriors NBA team.</p>
                <a href="https://bearbear2005.github.io/Basketball-Cards/" target="_blank"><button class="project-description-button">Live Demo</button></a>
            </div>
        </div>

        <div class="project-container-left">
            <div class="project-container-img">
                <img src="/src/images/magazine-cover.png" alt="Magazine Cover Project" width="600">
            </div>
            <div class="project-description">
                <h3>Magazine Cover</h3>
                <div class="project-description-tech">
                    <div class="project-description-tech-title">Made with:</div>
                    <div class="project-description-tech-item">HTML</div>
                    <div class="project-description-tech-item">CSS</div>
                    <div class="project-description-tech-item">JS</div>
                </div>
                <p class="project-description-text">This was a project I did for my web development cohort. I used HTML, CSS, and Javascript to practice topography and made a futuristic magazine cover.</p>
                <a href="https://bearbear2005.github.io/Magazine-Cover/" target="_blank"><button class="project-description-button">Live Demo</button></a>
            </div>
        </div>

        <div class="project-container-left">
            <div class="project-container-img">
                <img src="/src/images/pizza-menu.png" alt="Magazine Cover Project" width="600">
            </div>
            <div class="project-description">
                <h3>Pizza Menu</h3>
                <div class="project-description-tech">
                    <div class="project-description-tech-title">Made with:</div>
                    <div class="project-description-tech-item">HTML</div>
                    <div class="project-description-tech-item">CSS</div>
                    <div class="project-description-tech-item">JS</div>
                </div>
                <p class="project-description-text">This was a project I did for my web development cohort. I used HTML, CSS, and Javascript to practice using advance CSS styling and made a pizza menu.</p>
                <a href="https://bearbear2005.github.io/Pizza-Menu/" target="_blank"><button class="project-description-button">Live Demo</button></a>
            </div>
        </div>
    </div>
</Layout>